
body {
  background-color: #f0a4a4;
}

/* Navbar  */

.Nav {
  align-items: center;
  justify-content: center;
  height:  100px;
  background-color: black;
  border: solid 5px  #f0a4a4 ;

}
li{
  color: #f0a4a4;
font-size: 50px;
text-decoration: none;
font-family: Serif;
font-style: italic;
display: inline;
padding: 20px;
float: right; 
}

/* Home Page */
.home{
  font-family: serif;
  margin-top: 150px;
  text-align: center;
  border: solid 5px;
  width: 300px;
  margin-left: 45%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
/* About Page */
.about{
  font-family: serif;
  margin-top: 150px;
  text-align: center;
  border: solid 5px;
  width: 300px;
  margin-left: 45%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.about h4{
  font-weight: bolder;
}
/* Contact Page */
.contact{
  font-family: serif;
  margin-top: 150px;
  text-align: center;
  border: solid 5px;
  width: 300px;
  margin-left: 45%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* Services Page */
.services{
  font-family: serif;
  margin-top: 150px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.services h1{
  border: solid 5px;
  width: 800px;
  margin-left: 450px;
  border-radius: 20px;
}